@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

body {
    background-color: #EEE5E5;
    font-family: 'Poppins', sans-serif;
    margin: 0 20% 0 20%;

    max-width: 100%;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    margin-top: -20px;
}

.header-logo p{
    color: #c9a227;
    font-size: 40px;
    font-weight: 600;
}

.header-menu {
    display: flex;
    gap: 50px;
}

.header-menu button {
    background: none;
    border: none;
    padding: 0px;
}

.header-menu button a {
    font-family: 'Poppins', sans-serif;
    color: #4C4F40;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

/*Start of Hero Section*/

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    text-align: right;
    justify-content: center;
}

.hero-text h1 {
    margin: 0;
    color: #c9a227;
}

.hero-text button {
    background-color:#DDCECD;
    border: none;
    border-radius: 10px;
    padding: 3px 6px 3px 6px;
    margin-left: auto;
}

.hero-text button a {
    font-family: 'Poppins', sans-serif;
    color: #4C4F40;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    
}

.hero-image {
    display: flex;
    max-width: 45%;
    overflow: hidden;
    border-radius: 20px;
    border-style: solid;
    border-color: #c9a227;
    background-color: #c9a722;
}

.hero-image img {
    opacity: 100%;
    border-radius: 20px;
    overflow: hidden;
}


/* Start of Info section */

.info-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    overflow: hidden;
    text-align: center;
    background-color: #EEE5E5;
}

.container-holder {
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.container img {
    border-radius: 20px;
    border-style: solid;
    border-color: #c9a227;
    background-color: #c9a227;
}

.info-container h2 {
    color: #c9a722;
}

/* Start of Quote section */

.quote {
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    background-color:#EEE5E5;
}

#quoted {
    text-align: center;
    font-size: 30px;
    color: #c9a227;
    text-decoration: underline 3px ;
}

#quoted-by {
    text-align: center;
}

/* Start of CTA section */

.cta {
    display: flex;
    margin: 30px 70px 30px 70px ;
    background-color: #c9a227;
    justify-content: space-between;
    padding: 20px 100px;
}

.text {
    display: flex;
    flex-direction: column;
}

.text p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#cta-text {
    font-size: 30px;
    color: white;
}

#cta-subtext {
    font-size: 12px;
    color: white;
}

.cta-button {
    display: flex;
    align-self: center;
}

.cta-button button {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 3px 6px 3px 6px;
    margin-left: auto;
}

.cta-button button a {
    font-family: 'Poppins', sans-serif;
    color: #4C4F40;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

/* Start of Footer section */

.footer {
    background-color: #c9a227;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    margin-left: calc(50% - 50vw);
}

#footer-text {
    margin: 0;
    text-align: center;
}